*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /* border: 1px solid red; */
    max-width: 1320px;
    margin:100px auto;
}

.product-title{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.products{
    display: flex;
}

.w-33{
    width: 33.33%;
    padding: 10px;
}
.w-25{
    width: 25%;
    /* border: 1px solid green; */
    padding: 10px;
}
.card{
    /* border: 1px solid gray; */
    position: relative;
}

.card img{
    width: 100%;
}

.desc{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.products .price{
    color: rgb(0, 200, 255);
}


.btn{
    width: 75%;
    display: block;
    background-color: #212529;
    padding: 10px 15px;
    color: white;
    letter-spacing: 1px;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:75%;
    transition: all 0.5s;
    opacity: 0;
}

.card:hover .btn{
    transform: translateX(-50%);
    top:70%;
    opacity: 1;

}