*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media(max-width:768px){
    body{
        background-color: gray;
    }
}
header{
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.navbar{
    max-width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav{
    display: flex;
    gap: 20px;
    align-items: center;
   
}

@media(max-width:992px)
{
    .nav{
        display: none;
    }
}

.nav a{
    padding: 5px 8px;
}
.nav a:hover{
    background-color: aquamarine;
    border-radius: 3px;
    padding: 5px 8px;
}

.menu-btn button{
 padding: 3px;
 font-size: 20px;
}


.menu-btn{
    display: none;
}


@media(max-width:992px)
{
    .menu-btn{
        display: block;
    }
}











.container{
    /* border: 1px solid red; */
    max-width: 1320px;
    margin:100px auto;
}

.product-title{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.products{
    display: flex;
    flex-wrap: wrap;
}

.w-33{
    width: 33.33%;
    padding: 10px;
}

@media(max-width:992px)
{
    .w-33{
        width: 50%;
    }
}


@media(max-width:768px){
    .w-33{
        width:100%
    }
}












.w-25{
    width: 25%;
    /* border: 1px solid green; */
    padding: 10px;
}

@media (max-width:992px){
    .w-25{
        width:33.33%
    }
}

@media(max-width:768px){
    .w-25{
        width: 50%;
    }
}


@media(max-width:575px){
    .w-25{
        width: 100%;
    }
}







.card{
    /* border: 1px solid gray; */
    position: relative;
}

.card img{
    width: 100%;
}

.desc{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.products .price{
    color: rgb(0, 200, 255);
}


.btn{
    width: 75%;
    display: block;
    background-color: #212529;
    padding: 10px 15px;
    color: white;
    letter-spacing: 1px;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:75%;
    transition: all 0.5s;
    opacity: 0;
}

.card:hover .btn{
    transform: translateX(-50%);
    top:70%;
    opacity: 1;

}